Email format validation not standards compliant

The current validation for the `email` format does not follow the standard. Section [7.3.2](http://json-schema.org/latest/json-schema-validation.html#rfc.section.7.3.2) of the standard specifies the format should be validated according to [RFC 5322, section 3.4.1](http://json-schema.org/latest/json-schema-validation.html#RFC5322).